@tailwind base;
@tailwind components;
@tailwind utilities;



 
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');  #herotitle1{
    font-family: 'Dancing Script', cursive;
    }

  #herotitle2{
    font-family: 'Raleway', sans-serif;
  }
  #herotitle3{
    font-family: 'Raleway', sans-serif;
  }
  .background-image-container {
    background-image: url("https://findsmarthouses.com/images/property/pc3.jpg");
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  width: 100%;
  height: fit-content; /* Set a specific height */
  }
  #luxury1{
    font-family: 'Raleway', sans-serif;

  }
  
  #testimonytitle{
    font-family: 'Raleway', sans-serif;

  }
  #roomHero{
    background-image: url("https://findsmarthouses.com/images/property/pc3.jpg");
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    width: 100%;
    height: fit-content; /* Set a specific height */
  }
  #aboutHero{
    background-image: url("https://findsmarthouses.com/images/property/pc3.jpg");
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    width: 100%;
    height: fit-content; /* Set a specific height */
  }
  #roomhero{
    background-image: url("https://findsmarthouses.com/images/property/pc3.jpg");
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    width: 100vw;
    height: 100vh; /* Set a specific height */
  }